body {
    padding-bottom: 200px;
}
table.presenter-avail tbody td {
    text-align: center;
}
td.sched-checkbox {
    text-align: center;
}
#action-mask {
    display: none;
    position: fixed;
    top: 0;
    z-index: 1999;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
}
.action-prompt {
    display: none;
    width: 50%;
    margin: 5% 25%;
    border: 1px solid #666;
    background: #fff;
    position: fixed;
    padding: 20px;
    z-index: 2000;
    height: 70%;
    overflow-y: scroll;
}
@media (max-width: 800px) {
    .action-prompt {
	margin: 5% 5%;
	width: 90%;
    }   
}
